<article class="content-page">
  <header>
    <h1>A Backgammon szabályai</h1>
  </header>

  <section>
    <p>
      A játékot az <em>1. ábrán</em> látható, hosszabbik oldala mentén 12-12
      háromszög alakú mezőt tartalmazó táblán játszák. A táblát középen
      kettészelő, sorompónak nevezett sáv a mezőket 4 negyedre osztja:
      <em>fekete udvara</em>, <em>fehér udvara</em>, <em>fekete otthona</em> és
      <em>fehér otthona</em>. A játékos célja, hogy eljuttassa az összes
      korongját a saját otthonába, majd ezt követően levegye azokat a tábláról.
      Mindkét játékos 15-15 bábuval kezd, melyeket az <em>1. ábrán</em> látható
      módon kell felhelyezni. Ezen felül szükség van még két, szabályos
      hatoldalú dobókockára is.
    </p>
    <figure>
      <img
        src="assets/images/BackgammonBoard_parts.png"
        alt="A backgammon tábla felépítése"
        class="rules-image"
      />
      <figcaption>
        1. ábra: A backgammon tábla felépítése (saját szerkesztés)
      </figcaption>
    </figure>
    <p>
      A <em>2. ábra</em> a fehér játékos szemszögéből szemlélteti a korongok
      haladási irányát. A fekete játékos ugyan ezt az utat járja be, csak az
      ellenkező irányban. A mezők alatt található számozás nem része a
      backgammon tábláknak, viszont egy kiemelten fontos fogalom kapcsolódik
      hozzájuk: a <em><strong>pip</strong></em
      >. A <em>pip</em> érték azt mutatja meg, hogy adott pozíción lévő bábu
      hány lépésből szedhető le a tábláról. Ez alapján kis fejszámolással
      megállapítható, hogy mindkét játékos 167 pipről kezd, és a mérkőzés során
      ezt az értéket kell 0-ra csökkenteni, lehetőleg az ellenfél előtt.
    </p>
    <figure>
      <img
        src="assets/images/BackgammonBoard_movement.png"
        alt="A fehér játékos haladási iránya a táblán"
        class="rules-image"
      />
      <figcaption>
        2. ábra: A fehér játékos haladási iránya a táblán (saját szerkesztés)
      </figcaption>
    </figure>
    <p>
      A mérkőzés kezdetén mindkét játékos dob egy-egy kockával, és az lesz a
      kezdőjátékos, aki nagyobb értéket dobott (egyenlőség esetén megismétlik a
      dobást). A kezdőjátékos a kezdődobás értékeit használhatja fel, hogy
      mozgassa a saját korongjait, ezt követően pedig felváltva dobnak a két
      kockával és a kapott értékeknek megfelelően léptetik a bábuikat.
    </p>
    <p>
      Mozgatni csak a mezők legfelső korongjait lehet, ezek között oszthatjuk
      szét a dobott lépéskombinációkat. Ebbe beletartozik az a korong is, amely
      az első lépést követően válik „szabaddá”. Csak olyan,
      <strong>nyitott mező</strong>n fejezhető be szabályosan mozgás, amelyen:
    </p>
    <ul>
      <li>nincs más korong,</li>
      <li>vagy tetszőleges számú, saját színű korong van,</li>
      <li>vagy pontosan egy, az ellenfélhez tartozó korong van.</li>
    </ul>
    <p>
      Ebből következően minden olyan mezőt, ahol legalább 2 ellenséges korong
      áll, zárt mezőnek tekintünk. A bábuk mozgatása során törekedni kell arra,
      hogy minden lépést szabályosan végre tudjunk hajtani. Abban az esetben, ha
      egy vagy több lépés nem hajtható végre szabályosan, akkor azok
      „elvesznek”, nincs lehetőségünk később felhasználni őket.
    </p>
    <p>
      A játékos dönthet úgy, hogy mindkét lépését egyetlen bábuval hajtja végre,
      de akár meg is oszthatja őket két korong között, ahogy azt a
      <em>3. ábra (b)</em>
      része is szemlélteti. Előbbi esetben nagyon fontos a lépések sorrendje,
      amire az ábrán látható <em>(a)</em> jelölésű helyzet is utal. A 24-es
      mezőn álló fehér koronggal mindkét lépés végrehajtható, de kizárólag 1-3
      sorrendben, vagyis előbb a 23-as, majd a 20-as mezőre lépünk. A 3-assal
      kezdve először a 21-es mezőre érkeznénk, ami szabálytalan lépés, mivel
      egynél több fekete bábu van az adott mezőn.
    </p>
    <p>
      Előállhat a <em>(c)</em>-vel jelölt szituáció is, azaz, hogy egy olyan
      mezőn fejezzük be a mozgást, ahol csak egyetlen ellenséges bábu van.
      Ilyenkor az ellenfél korongját (itt: fekete) „leütik” és az felkerül a
      sorompóra. Ez az állapot nem azonos azzal, amikor egy játékos leveszi a
      saját korongját a tábláról, speciális szabályok vonatkoznak rá, amikről
      később lesz szó. További fontos szabály, hogy ha a játékos két azonos
      számértéket dobott, akkor azt duplán lépheti le. Így két 4-es dobása
      esetén 4 darab 4-es lépése lenne az aktuális játékosnak, amit a fenti
      szabályok alapján tetszőlegesen oszthat szét a saját korongjai között.
    </p>
    <figure>
      <img
        src="assets/images/BackgammonBoard_13.png"
        alt="A fehér játékos lehetséges lépéskombinációi"
        class="rules-image"
      />
      <figcaption>
        3. ábra: A fehér játékos lehetséges lépéskombinációi (saját szerkesztés)
      </figcaption>
    </figure>
    <p>
      Miután a játékosnak sikerült minden korongját eljuttatnia a saját
      otthonába, megkezdheti azok levételét a tábláról. Egy korong akkor
      távolítható el, ha aktuális mezőjének megfelelő értéket dobtunk. Ha ott
      nincs bábu, akkor egy magasabb mezőszámú mezőn állóval kell szabályosan
      lépnünk. Ha nincs ilyen korong, akkor a legmagasabb mezőszámú mezőnkről
      kell eltávolítanunk egyet. Nézzük meg egy példán keresztül, hogy is
      működik ez a gyakorlatban.
    </p>
    <p>
      A <em>4. ábrán</em> a fehér játékos következik, aki egy 3-ast és egy 6-ost
      dobott. Mivel minden korongja a saját otthonában van, így megkísérelheti
      azok eltávolítását. A 3-as mezőn álló bábuk egyike gond nélkül
      eltávolítható a 3-as dobás miatt. A 6-os mezőn azonban nem áll bábu,
      valamint tőle balra (magasabb számú mezőn) sincs más korong, amivel
      szabályosan léphetne. Így a szabály értelmében a legmagasabb, 5-ös értékű
      mezőről kell levennie egy korongot.
    </p>
    <figure>
      <img
        src="assets/images/BackgammonBoard_endgame_and_bar.png"
        alt="Korongok levétele a tábláról, illetve a sorompóról"
        class="rules-image"
      />
      <figcaption>
        4. ábra: Korongok levétele a tábláról, illetve a sorompóról (saját
        szerkesztés)
      </figcaption>
    </figure>
    <p>
      Korábban szó esett arról, hogy a leütött korongok a sorompóra kerülnek.
      Ilyenkor a játékos addig nem hajthat végre más lépést, míg a sorompóról
      újra játékba nem hozza az öszszes leütött bábut. Ez úgy tehető meg, hogy
      az ellenfél otthonában a dobás értékének megfelelő, nyitott mezőre lép
      velük. A <em>4. ábrán</em> például a fekete játékos csak 1-es, 4-es vagy
      6-os dobással térhetne vissza a leütött korongjával. Ezt követően a másik
      dobott értéket már szabadon lelépheti. Előfordulhat, hogy a játékos nem
      tudja elhagyni a sorompót (a <em>4. ábra</em> esetében 2, 3 és 5
      tetszőleges kombinációjával). Ekkor - szabályos lépés híján - az ellenfél
      következik, majd a játékos a következő körében ismételten megkísérelheti a
      korong(ok) játékba hozatalát.
    </p>
    <p>
      A játékot az nyeri meg, aki először szedi le mind a 15 bábuját a tábláról.
      Minden győzelem pontot ér: 1 pontot (<strong>normál győzelem</strong>), ha
      az ellenfelünk legalább egy korongját eltávolította a tábláról, 2 pontot
      (<strong>gammon</strong>), ha az ellenfelünk nem tudott korongot levenni,
      és 3 pontot (<strong>backgammon</strong>), ha ellenfelünknek a mérkőzés
      végén, a sorompón vagy a mi házunkban maradt egy vagy több korongja. Egy
      backgammon parti jellemzően több fordulóból áll, a végső győztes pedig az
      lesz, aki előbb gyűjt össze megadott számú pontot.
    </p>
    <p>
      A fent ismertetett alapszabályok mellett a backgammon szerves részét
      képezi a <strong>duplázó kocka</strong> is. A játékos a saját körében a
      kockadobást megelőzően felajánlhatja ellenfelének a duplázó kockát.
      Amennyiben elfogadja, úgy a mérkőzés végén szerzett pontok duplázódnak.
      Így például a normál győzelem 1 pont helyett 2-t, a gammon 4-et a
      backgammon pedig 6-ot fog érni. Ezt követően a duplázás joga átszáll az
      azt elfogadó játékosra, aki hasonlóképp felajánlhatja azt. Egy mérkőzés
      során több alkalommal is történhet duplázás (4-szeres, 8-szoros, …
      szorzó), új meccs kezdetén viszont visszaáll eredeti értékére (1) és ezt
      követően ismét bármelyik játékos kezdeményezheti a duplázást a fentebb
      ismertetett szabályok alapján. Ha azonban a játékos úgy dönt, hogy nem
      fogadja el, úgy a mérkőzés azonnal véget ér, és a duplázó játékos 1 pontot
      kap.
    </p>
    <p>
      Végezetül érdemes pár szót ejteni a <strong>Crawford-szabály</strong>ról
      is. Ez az egyik legelterjedtebb szabályvariáns, mely megtiltja a duplázó
      kocka használatát abban az esetben, ha az egyik játékosnak már csak egy
      pontra lenne szüksége a győzelemhez. Amennyiben a forduló végeztével
      folytatódik a játék, úgy a duplázó kocka ismét korlátozás nélkül
      használható. Ezen kívül számos kiegészítő szabály és játékváltozat is
      létezik, melyek ismertetése túlmutat a fejezet célkitűzésén. További
      részletes leírások és magyarázatok az alább elhelyezett forrásokban
      találhatók.
    </p>
  </section>

  <footer class="content-footer">
    <h3>Források</h3>
    <ol>
      <li>
        Backgammon játékszabály:
        <a href="https://hubgf.hu/backgammon-jatekszabaly-2/" target="_blank">
          https://hubgf.hu/backgammon-jatekszabaly-2/
        </a>
      </li>
      <li>
        Backgammon Rules:
        <a href="https://www.bkgm.com/rules.html" target="_blank">
          https://www.bkgm.com/rules.html
        </a>
      </li>
    </ol>
  </footer>
</article>
