<article class="content-page">
  <header>
    <h1>A táblajátékok és a Backgammon rövid története</h1>
  </header>
  <section>
    <h2>A táblajátékok eredete</h2>
    <p>
      A táblajátékok történelme hosszú múltra tekint vissza, megjelenésük és
      szerepük az évszázadok alatt jelentősen megváltozott. A korai táblajátékok
      jellemzően spirituális funkciót töltöttek be, mint például a
      „csontjóslás”, amikor is az ősi törzsek földre dobott állattcsontok
      alapján próbálták megjósolni, mit rejthet a jövő. Később ezekből a
      csontokból alakultak ki a különböző méretű, formájú és tulajdonságú
      dobókockák. A különféle állati motívumok alkalmazása mellett kiemelt
      szerepet kapott az asztrológia és a számmisztika is. A 12-es szám, illetve
      annak egész osztói (<em>2, 3, 4, 6</em>) és esetenként többszörösei
      számos, egymástól eltérő kultúrában megjelentek, mint a teljesség,
      egymással egységre törekvés szimbólumai. Mindemellett számos számrendszer
      és aritmetikai-geometriai összefüggés alapjául is szolgáltak.
    </p>
    <p>
      Az egyes táblajátékok pontos felhasználásáról nagyon kevés bizonyíték
      maradt fenn, többségük hiányosan dokumentált, összehasonlítva olyan,
      szintén gazdag történelemmel rendelkező táblajátékokkal, mint amilyen a
      sakk, vagy a backgammon. A korai táblajátékok jellemzően kevésbé időtálló
      anyagok (fa, bőr, szövet) felhasználásával készültek, vagy egyszerűen
      földbe rajzolták fel őket. Emellett kialakításukban és használatukban
      (elemek mozgatása egy táblán) nagyfokú hasonlóságot mutattak más,
      elsődlegesen számolásra használt eszközökkel.
    </p>
  </section>

  <section>
    <h2>A Backgammon kialakulása</h2>
    <p>
      A backgammon ma ismert formáját évezredek alatt nyerte el. A
      kialakulásához köthető legkorábbi tárgyi emlékek a perzsiai
      <em>Jiroft</em>
      területéről származnak megközelítőleg 4000 évvel ezelőttről. A leleteken
      talált mezőfelosztás hasonló a mai modern táblákéhoz, vagyis a 12 mezőt
      tartalmazó sorokat megfelezve 6-os csoportokat hoz létre. Alapmotívumai -
      mint például a 12 mezőt tartalmazó sorok, a dobókockák használata és a
      játékelemek mozgatása a táblán - felbukkantak többek között perzsa és
      római játékokban is. Bár szabályrendszerük eltérő volt, a források
      tanúsága szerint felfedezhető bennük a jirofti „ős-backgammon” hatása.
    </p>
    <p>
      A római birodalomban már az 1. évszázadban igen nagy népszerűségnek
      örvendett a <em>„ludus duodecim scriptorum”</em>, vagy magyarul a „12 sor
      játéka”. A játék működéséről csak kevés információval rendelkezünk,
      viszont megállapítható, hogy ebben a változatban még 3x12 mező szerepelt
      és 3 dobókockát használtak. Ezt követte a <em>„tabula”</em> („tábla”)
      elnevezésű, módosított változata, mely elhagyta a középső 12 mezőt.
    </p>
    <p>
      Szintén megkerülhetetlen a perzsa <em>nard</em> elnevezésű táblajáték,
      melynek megjelenését a források hagyományosan a Kr. u. 3. és 6. század
      közé teszik. A legkorábbi írásos feljegyzést a 7. századi
      <em>Čatrang-nāmag</em>
      („A sakk könyve”) című mű tartalmazza. A római táblajátékkal szemben a
      <em>nard</em> csak két dobókockát használt, viszont a 12-es mezőfelosztás
      itt is jelen volt. Érdemes megjegyezni, hogy a backgammonhoz hasonló
      táblajátékok Európa és a Közel-Kelet mellett Ázsiában is felbukkantak:
      Japánban a <em>sugoroku</em>, míg Koreában a <em>ssangnyuk</em>.
    </p>
  </section>

  <section>
    <h2>A Backgammon elődei a középkori Európában</h2>
    <p>
      Bár Európa már a Római Birodalom idején megismerhette a <em>tabulae</em>,
      későbbi nevén <em>tables</em> játékot, elterjedését feltehetőleg a
      keresztes háborúknak köszönheti. A középkorban főként a királyi udvarokban
      és a nemesség körében örvendett nagy népszerűségnek. Az 1283-ban készült
      <em>Libro de los Juegos</em> (Játékok könyve) a táblajátékok történetének
      egyik legfontosabb írásos forrása, amelyben a sakk és a kockajátékok
      mellett a backgammon közvetlen elődjének tekinthető <em>tables</em>-t is
      megemlítik. Szerencsejáték-jellege miatt Európa számos országában
      betiltották a játékot. <em><strong>Jacoby</strong></em> és
      <em><strong>Crawford H. J. R. Murray</strong></em> munkájára utalva
      megemlítik, hogy a <em>tables</em>-t rendszeresen az
      <em>„inhonesti ludi”</em>, azaz „tisztességtelen, becstelen játékok” közé
      sorolták. Idővel enyhültek a szabályozások és egyes városokban alacsony
      tétek mellett engedélyezték a játékot, azonban a korlátozások a 15. század
      végéig érvényben maradtak.
    </p>
    <p>
      A 16. századra a <em>tables</em> számos változata megtalálható volt a
      kontinensen: Spanyolországban <em>emperador</em> vagy „angol játék” (<em
        >English game</em
      >), Németországban <em>puff</em>, a németalföldi és skandináv területeken
      <em>verkeer</em> vagy <em>kotra</em>, Olaszországban <em>testa</em>,
      Franciaországban pedig <em>trictrac</em> néven játszották. Utóbbi önálló
      játékként a következő évszázadokban is fennmaradt. Az
      <em>emperador</em> különösen figyelemre méltó, mivel - a modern
      backgammonhoz hasonlóan - külön kifejezéseket alkalmazott a győzelem
      típusainak megkülönböztetésére. A számos név- és szabályváltozat ellenére
      a <em>tables</em> maradt a legelterjedtebb.
    </p>
  </section>

  <section>
    <h2>A modern Backgammon születése</h2>
    <p>
      A backgammon ma ismert formája a 17. században jelent meg. Elnevezését
      elsőként <em>James Howell</em> használta 1647-ben „Baggammon” alakban. A
      név eredetéről megoszlanak a vélemények: egyes feltételezések szerint a
      szász <em>baec gamen</em> („back game”) kifejezésből ered, míg mások a
      walesi <em>bach</em> („kis”) és <em>cammaun</em> („csata”) szavakkal
      hozzák összefüggésbe. A <em>tables</em>-hez képest két új szabály került
      bevezetésre: a hárompontos, ún. backgammon-játszmák, valamint az azonos
      értékű dobások kétszeres lépése.
    </p>
    <p>
      A játék első, hivatalosnak tekinthető szabályrendszerét
      <em>Edmond Hoyle</em>
      fektette le 1743-ban megjelent,
      <em><strong>A short treatise on the game of Back-Gammon</strong></em>
      (Rövid értekezés a Back-Gammon játékról) című írásában. A 18. század
      második felétől azonban a játék fokozatosan veszített népszerűségéből, és
      a 19. századra főként az angol nemesség körében maradt fenn.
      <em>George Frederick Pardon</em> egy korabeli kiadványában ugyan próbálta
      a középosztály számára is népszerűsíteni, de kísérlete mérsékelt sikerrel
      járt.
    </p>
    <p>
      Ugyanebben az időszakban a backgammon táblája több regionális játékvariáns
      alapjául szolgált, mint például a török <em>moultezim</em> és
      <em>gioul</em>, a görög <em>plakoto</em> és <em>eureika</em>, valamint az
      amerikai hadseregben játszott, közel-keleti eredetű <em>acey-duecey</em>.
      Bár társadalmi szerepe az évszázadok során jelentősen megváltozott, a
      backgammon mindvégig megőrizte alapvető értékeit és motívumait.
    </p>
  </section>

  <section>
    <h2>Versenykultúra a 20. században</h2>
    <p>
      Bár a backgammon már a 17. században ismert volt az amerikai gyarmatokon,
      népszerűsége az 1920-as években bevezetett újtásoknak köszönhetően ugrott
      meg. Ekkor jelent meg a duplázókocka, a visszaduplázás, valamint a
      többjátékos „chouette” nevű játékvariáns, melyek már
      <em>Grosvenor Nicholas</em>
      1928-ban kiadott <em>Modern Backgammon</em> című publikációjában is
      szerepeltek. A backgammon különösen nagy népszerűségnek örvendett a New
      York-i <em>Racquet and Tennis Club</em>ban, ahol 1931-ben számos klub
      képviselője közösen dolgozta ki az első, széles körben alkalmazott
      szabályrendszert.
    </p>
    <p>
      A modern backgammon-versenyek korszaka az 1960-as években kezdődött.
      <em><strong>Alexis Obolensky</strong></em> - akit a „modern backgammon
      atyjának” is neveznek - 1964-ben a Bahamákon szervezte meg az első
      nemzetközi backgammon tornát, majd 1967-ben Las Vegas adott otthont az
      első hivatalos világbajnokságnak. Szintén jelentős mérföldkőnek számított
      <em><strong>Oswald Jacoby</strong></em> és
      <em><strong>John Crawford</strong></em> 1970-ben megjelent műve, a
      <em><strong>The Backgammon Book</strong></em> (A backgammon könyv), amely
      máig de facto standardnak számít.
    </p>
    <p>
      Az 1970-es évektől Európa vált a versenyélet fő színterévé. 1973-ban
      Monte-Carlóban rendezték meg az első európai világversenyt, a
      <em>European Open Championship</em>-et, mely 1979-től a Bahamákon tartott
      eseménnyel egyesülve <em>World Backgammon Championship</em> néven
      folytatódott. Ekkor érte el a játék népszerűsége csúcspontját: számos
      klub, verseny és bajnokság alakult és a sajtóban is egyre gyakrabban
      jelentek meg írások a játékkal kapcsolatban.
    </p>
    <p>
      Az 1980-as években <em>Kent Goulding</em> vált a versenykultúra
      meghatározó alakjává. 1988-ban megszervezte az első bostoni
      <em>World Cup of Backgammon</em> versenyt, valamit több újítás is a
      nevéhez fűződik, mint például a sakkórák, a hivatalos rating-rendszer és a
      mérkőzések rögzítésének bevezetése. Bár a <em>“World”</em> elnevezésű
      versenyek száma mára megszaporodott, az egyetlen hivatalos
      világbajnokságot továbbra is <strong>Monte-Carló</strong>ban rendezik meg.
    </p>
  </section>

  <section>
    <h2>A Backgammon jelenkori fejlődése</h2>
    <p>
      Az 1990-es évektől kezdve a backgammon világát jelentős technológiai
      fejlesztések és újítások formálták. Megjelentek a neurális hálózatokon
      alapuló programok, mint például a <em>FIBS</em> (First Internet Backgammon
      Server, 1993) a <em>Jellyfish 1.0</em> (1994) és a
      <em>Snowie 1.0</em> (1998), utóbbi már felhasználóbarát kezelőfelülettel
      rendelkezett. Bár kezdetben nem voltak hibátlanok, a folyamatos
      fejlesztéseknek köszönhetően egyre hatékonyabbak és pontosabbak lettek. A
      2000-es évek elején kibontakozó pókerláz hatására számos játékos elhagyta
      a backgammon-versenyek világát, az évtized végére pedig Japán is felkerült
      a nemzetközi versenytérképre <em>Masayuki Mochizuki</em> 2009-es
      Monte-carlói világbajnoki győzelmével.
    </p>
    <p>
      A 2010-es évektől az új szoftverek és technológiai fejlesztések határozták
      meg a játék fejlődését. Az
      <em><strong>Extreme Gammon</strong></em> 2011-es megjelenését követően
      megfizethető ára és kiemelkedő analitikai képességei révén hamar
      standarddá vált a profi játékosok körében. Napjainkban a mesterséges
      intelligenciát alkalmazó tanuló- és játékszoftverek (például a
      <em>GnuBG</em>) kínálnak új lehetőségeket. A webes és mobilalkalmazások
      szerepe különösen a pandémia idején értékelődött fel, elősegítve online
      közösségek és versenyek szervezését. A felgyorsult digitalizáció ellenére
      az offline események szerepe továbbra is meghatározó a backgammon
      közösségi és versenykultúrájában.
    </p>
  </section>
  <footer class="content-footer">
    <h3>Források:</h3>
    <ol>
      <li>
        The History of Backgammon, by Oswald Jacoby:
        <a
          href="https://www.bkgm.com/books/JacobyCrawford/HistoryOfBG/"
          target="_blank"
        >
          https://www.bkgm.com/books/JacobyCrawford/HistoryOfBG/
        </a>
      </li>

      <li>
        BOARD GAMES in pre-Islamic Persia:
        <a
          href="https://www.iranicaonline.org/articles/board-games-in-pre-islamic-persia/"
          target="_blank"
        >
          https://www.iranicaonline.org/articles/board-games-in-pre-islamic-persia/
        </a>
      </li>

      <li>Zhmud, L.: From Number Symbolism to Arithmology</li>

      <li>Austin, R.G.: Roman Board Games. Greece & Rome, 10, 24–34, 1934.</li>

      <li>
        Backgammon History, by Martin Short:
        <a
          href="https://www.bkgm.com/articles/Short/BackgammonHistory/"
          target="_blank"
        >
          https://www.bkgm.com/articles/Short/BackgammonHistory/
        </a>
      </li>

      <li>
        Austin, R.G.: Roman Board Games. Greece and Rome, 11, 76–82, 1935.
      </li>

      <li>Adorján B., Bednárik É.: A társasjátékok története.</li>

      <li>
        Konstantakos, I.M.: Board Games in Ancient Fiction: Egypt, Iran, Greece.
        Board Game Studies Journal, 1, 449–490, 2022.
      </li>

      <li>Sugoroku (双六) Board Games, 1840s–1940s.</li>

      <li>
        Toward Globalization of Korean Studies:
        <a
          href="https://www.aks.ac.kr/cefia/webzine/2110/focus_eng.html"
          target="_blank"
        >
          https://www.aks.ac.kr/cefia/webzine/2110/focus_eng.html
        </a>
      </li>

      <li>
        Libro de los Juegos:
        <a
          href="https://www.thinking3d.ac.uk/LibrodelosJuegos/"
          target="_blank"
        >
          https://www.thinking3d.ac.uk/LibrodelosJuegos/
        </a>
      </li>

      <li>
        backgammon, n. meanings, etymology and more | Oxford English Dictionary:
        <a href="https://www.oed.com/dictionary/backgammon_n" target="_blank">
          https://www.oed.com/dictionary/backgammon_n
        </a>
      </li>

      <li>
        Gioul:
        <a href="https://www.bkgm.com/variants/Gioul.html" target="_blank">
          https://www.bkgm.com/variants/Gioul.html
        </a>
      </li>

      <li>
        Acey-Deucy, A Navy Game:
        <a
          href="https://www.usni.org/magazines/proceedings/1951/may/acey-deucy-navy-game"
          target="_blank"
        >
          https://www.usni.org/magazines/proceedings/1951/may/acey-deucy-navy-game
        </a>
      </li>

      <li>
        Acey-deucey | Britannica:
        <a href="https://www.britannica.com/topic/acey-deucey" target="_blank">
          https://www.britannica.com/topic/acey-deucey
        </a>
      </li>

      <li>
        Modern Backgammon, by Grosvenor Nicholas:
        <a
          href="https://bkgm.com/books/Nicholas/Transcription/"
          target="_blank"
        >
          https://bkgm.com/books/Nicholas/Transcription/
        </a>
      </li>

      <li>
        Backgammon Rules - 1931:
        <a href="http://www.chicagopoint.com/bglaws1931.html" target="_blank">
          http://www.chicagopoint.com/bglaws1931.html
        </a>
      </li>

      <li>
        Modern Backgammon: A Journey Through Time:
        <a
          href="https://nextgammon.com/en/blog/modern-backgammon-a-jurney-through-time"
          target="_blank"
        >
          https://nextgammon.com/en/blog/modern-backgammon-a-jurney-through-time
        </a>
      </li>

      <li>
        A Short History of Modern Backgammon:
        <a
          href="https://thegammonpress.com/a-short-history-of-modern-backgammon/"
          target="_blank"
        >
          https://thegammonpress.com/a-short-history-of-modern-backgammon/
        </a>
      </li>

      <li>
        The Father Of Modern Backgammon:
        <a
          href="https://www.gammonvillage.com/backgammon/magazine/the_father_of_modern_backgammon.cfm"
          target="_blank"
        >
          https://www.gammonvillage.com/backgammon/magazine/the_father_of_modern_backgammon.cfm
        </a>
      </li>

      <li>
        The Backgammon Book:
        <a
          href="https://www.bkgm.com/books/JacobyCrawford-TheBackgammonBook.html"
          target="_blank"
        >
          https://www.bkgm.com/books/JacobyCrawford-TheBackgammonBook.html
        </a>
      </li>

      <li>
        World Backgammon Championships History:
        <a
          href="https://web.archive.org/web/20130628003813/http://www.play65.com/World-Backgammon-Championships-History.html"
          target="_blank"
        >
          https://web.archive.org/web/20130628003813/http://www.play65.com/World-Backgammon-Championships-History.html
        </a>
      </li>

      <li>
        Clocks in Backgammon:
        <a href="https://bkgm.com/articles/GOL/Apr00/clock.htm" target="_blank">
          https://bkgm.com/articles/GOL/Apr00/clock.htm
        </a>
      </li>

      <li>
        Backgammon Ratings:
        <a
          href="https://bkgm.com/articles/Goulding/Ratings-BackgammonRatings/"
          target="_blank"
        >
          https://bkgm.com/articles/Goulding/Ratings-BackgammonRatings/
        </a>
      </li>

      <li>
        Backgammon Hall of Fame:
        <a href="https://bkgm.com/features/HallOfFame/" target="_blank">
          https://bkgm.com/features/HallOfFame/
        </a>
      </li>

      <li>
        eXtreme Gammon:
        <a href="https://www.extremegammon.com/" target="_blank">
          https://www.extremegammon.com/
        </a>
      </li>

      <li>
        GNU Backgammon:
        <a href="https://www.gnu.org/software/gnubg/" target="_blank">
          https://www.gnu.org/software/gnubg/
        </a>
      </li>
    </ol>
  </footer>
</article>
