<div class="auth-card">
  <!-- HEADER -->
  <div class="auth-header">
    <h2>Sign up</h2>
    <p>
      Already have an account?
      <a class="auth-link" (click)="onSwitchToLogin()">Sign in</a>
    </p>
  </div>

  <!-- FORM -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="auth-form">
    <!-- FIRST NAME -->
    <div class="form-group">
      <input placeholder="First Name" formControlName="firstName" />
      <div class="error-feedback" *ngIf="hasDisplayableError('firstName')">
        First name is required.
      </div>
    </div>

    <!-- LAST NAME -->
    <div class="form-group">
      <input placeholder="Last Name" formControlName="lastName" />
      <div class="error-feedback" *ngIf="hasDisplayableError('lastName')">
        Last name is required.
      </div>
    </div>

    <!-- USERNAME -->
    <div class="form-group">
      <input placeholder="Username" formControlName="userName" />
      <div class="error-feedback" *ngIf="hasDisplayableError('userName')">
        Username is required.
      </div>
    </div>

    <!-- EMAIL -->
    <div class="form-group">
      <input placeholder="Email" formControlName="emailAddress" />
      <div class="error-feedback" *ngIf="hasDisplayableError('emailAddress')">
        <div *ngIf="form.get('emailAddress')?.hasError('required')">
          Email is required.
        </div>
        <div *ngIf="form.get('emailAddress')?.hasError('email')">
          Invalid email format.
        </div>
      </div>
    </div>

    <!-- DATE -->
    <div class="form-group">
      <input type="date" formControlName="dateOfBirth" />
      <div class="error-feedback" *ngIf="hasDisplayableError('dateOfBirth')">
        Date of birth is required.
      </div>
    </div>

    <!-- PASSWORD -->
    <div class="form-group">
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <div class="error-feedback" *ngIf="hasDisplayableError('password')">
        <ng-container [ngSwitch]="passwordErrorKey">
          <div *ngSwitchCase="'required'">Password is required.</div>
          <div *ngSwitchCase="'minlength'">Minimum 8 characters required.</div>
          <div *ngSwitchCase="'pattern'">
            At least one special character required.
          </div>
        </ng-container>
      </div>
    </div>

    <!-- CONFIRM -->
    <div class="form-group">
      <input
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
      <div
        class="error-feedback"
        *ngIf="
          hasDisplayableError('confirmPassword') &&
          form.get('confirmPassword')?.hasError('passwordMismatch')
        "
      >
        Passwords do not match.
      </div>
    </div>

    <!-- SUBMIT -->
    <button type="submit" class="btn-primary">Register</button>
  </form>
</div>
