<h3 class="section-title">Participants</h3>

@if (!loading() && participants().length) {
  <p class="info-text">
    Participants: {{ currentParticipants() }} / {{ maxParticipants() }}
  </p>
}

<!-- ADD PARTICIPANT -->
<app-tournament-participants-add
  [canAdd]="canAddParticipants()"
  (add)="onAddParticipant($event)"
>
</app-tournament-participants-add>

@if (loading()) {
  <p class="info-text">Loading participants...</p>
}

@if (!loading()) {
  <div class="card-grid">
    @for (participant of participants(); track participant.userId) {
      <app-tournament-participant-card
        [participant]="participant"
        [canManage]="canManageParticipants()"
        (remove)="onRemove($event)"
      />
    }
  </div>
}
